<% module_namespacing do -%>
class <%= class_name %>Notifier < ApplicationNotifier
  use :slack

  def success(recipient)
    notify_success("#{self.class}##{__method__} called with #{recipient.class}.")
  end

  def failure(recipient)
    notify_failure("#{self.class}##{__method__} called with #{recipient.class}.")
  end
end
<% end -%>
